[submodule "tc_client/libntirpc"]
	path = tc_client/libntirpc
	url = https://github.com/nfs-ganesha/ntirpc.git

[submodule "apps/filebench"]
	path = apps/filebench
	url = git.fsl.cs.sunysb.edu:/scm/fslgit/nfs4tc-filebench.git
[submodule "tc_client/gbench"]
	path = tc_client/gbench
	url = https://github.com/google/benchmark.git
