[project]
	description = NFS Transactional Compounds
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ming Chen (brianchenming)
[access "refs/for/refs/*"]
	read = group user/Ming Chen (brianchenming)
	push = group user/Ming Chen (brianchenming)
	label-Code-Review = -2..+2 group user/Ming Chen (brianchenming)
	label-Verified = -1..+1 group user/Ming Chen (brianchenming)
	rebase = group user/Ming Chen (brianchenming)
	removeReviewer = group user/Ming Chen (brianchenming)
	submit = group user/Ming Chen (brianchenming)
[access "refs/heads/*"]
	read = group user/Ming Chen (brianchenming)
	create = group user/Ming Chen (brianchenming)
	push = +force group user/Ming Chen (brianchenming)
	pushMerge = group user/Ming Chen (brianchenming)
[access "refs/tags/*"]
	push = +force group user/Ming Chen (brianchenming)
	pushTag = group user/Ming Chen (brianchenming)
	pushSignedTag = group user/Ming Chen (brianchenming)
